.navbar-container {


    background-color: #111827 ;
    display:  flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: flex-start;
}



$background-page-color: #111827 ;  
$background-navbar: #111827;    
$border-radius: 25px;
$background-gradient: linear-gradient(
  135deg, 
  #447DEF 0%,     // linksonder
  #3562BC 50%,    // midden
  #274889 100%    // rechtsboven
);

.body {

  background:   $background-gradient ;
}